.animation-img-group {
  position: relative;
}

.censorship {
  position: absolute;
  top: 202px;
  left: 162px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.duck {
  position: absolute;
  top: 202px;
  left: 160px;
  width: 35px;
}

@media (max-width: 767.98px) {
  .animation-img-group img {
    display: none;
  }

  .animation-img-group {
    margin-top: 20px;
  }
}