.animation-img-group {
  position: relative;
}

.censorship {
  position: absolute;
  top: 202px;
  left: 162px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.duck {
  position: absolute;
  top: 202px;
  left: 160px;
  width: 35px;
}
