html, body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.section {
  overflow: hidden;
}

.first-slide-wrap {
  padding-top: 150px;
  padding-left: 35px;

  * {
    outline: none;
  }
}

h1.h1 {
  font-size: 3.6em;
  line-height: 84px;
}

h2, .h2 {
  font-size: 2.1em;
  text-align: center;
}

h3, .h3 {
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
}

h4, .h4 {
  font-size: 1.6em;
}

.list-style-icon {
  background: #F21665;
  border: 7px solid #FFE68C;
  border-radius: 50%;
  min-width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 14px;
  color: #FFFFFF;
  margin-right: 30px;
  position: relative;
}

.h2-title {
  line-height: 49px;
  color: #000000;
  font-weight: bold;
}

.golden-ratio {
  position: relative;
  opacity: 0;
  top: 100px;
}

.main-menu {
  display: flex;
}

.app.active {
  position: relative;
  filter: blur(40px);

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.77);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

body.active {
  overflow: hidden;
}

#circle {
  width: 187px;
  height: 195px;
}

#circle2 {
  position: relative;
  width: 187px;
  height: 195px;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 900;
    font-size: 58px;
    line-height: 68px;
    color: #F2205F
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1254px;
  }
}

@media (max-width: 1199.98px) {
  h1.h1 {
    font-size: 2.9em;
    line-height: normal;
  }
}

@media (max-width: 991.98px) {
  .golden-ratio {
    width: 100%;
  }

  .human-davinchi {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  html, body {
    font-size: 16px;
  }

  h1.h1 {
    font-size: 46px;
  }

  h2.h2 {
    line-height: 37px;
  }

  .app.active {
    filter: none;

    &:before {
      background: initial;
    }
  }

  .human-davinchi {
    max-width: 225px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (max-width: 575.98px) {
  h2.h2 {
    font-size: 2em;
  }

  h3.h3 {
    font-size: 1.8em;
    line-height: 26px;
  }
}