.convenience {
  padding-top: 76px;
  padding-bottom: 70px;

  video {
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  &__list {
    margin-top: 30px;
    padding-left: 0;
    margin-left: 20px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    p {
      font-size: 1em;
      line-height: 28px;
      color: #777777;
      margin-bottom: 0;
    }
  }

  &__title {
    text-transform: uppercase;
    color: #000000;
    line-height: 49px;
  }

  &__block {
    border: 1px solid #F2205F;
    border-radius: 10px;
    padding-right: 5px;
    overflow: hidden;
    display: flex;
  }

  &__block-content {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
  }

  &__block-title {
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 6px;
  }

  &__block-categories {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 6px;
  }

  &__block-price {
    font-size: 24px;
    line-height: 35px;
    color: #000000;
  }

  &__block-btn-group {
    display: flex;
    align-items: center;
  }

  &__block-btn-card {
    max-width: 178px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2205F;
    border-radius: 3px;
    border: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 11px;

    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.convenience-content {
  margin-top: 55px;
}

@media (max-width: 991.98px) {
  .convenience__block {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767.98px) {
  .convenience {
    padding-top: 50px;
    padding-bottom: 50px;

    &__list {
      margin-bottom: 0;
    }
  }
}