.design-system {
  padding-top: 76px;
  padding-bottom: 60px;
  position: relative;
  z-index: 10;
  background: #ffffff;
}

.design-system__h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 68px;
}

.design-system__color {
  display: flex;
  flex-direction: column;
  max-width: 490px;
}

.design-system__title {
  margin-bottom: 18px;
  line-height: 33px;
  font-weight: bold;
  color: #555555;
}

.design-system__text {
  font-size: 1em;
  line-height: 19px;
  color: #777777;
}

.design-system__color-text {
  max-width: 490px;
}

.design-system__diagram-wrapper {
  margin-top: 34px;
  max-width: 309px;
  width: 100%;
  height: 309px;
  background: #F5F5F5;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.design-system__diagram {
  background: url("../img/diagram-img.png") no-repeat center;
  background-size: 100% auto;
  width: 322px;
  height: 288px;
  display: block;
}

.design-system__diagram-list {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.design-system__diagram-item {
  border-radius: 5px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.75em;
    border: 3px solid #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.design-system__diagram-item-red {
  box-shadow: 0 4px 4px rgba(173, 46, 84, 0.22);

  span {
    background: #F2205F;
  }
}

.design-system__diagram-item-blue {
  box-shadow: 0 4px 4px rgba(13, 131, 166, 0.15);

  span {
    background: #0D83A6;
  }
}

.design-system__diagram-item-azure {
  box-shadow: 0 4px 4px rgba(13, 131, 166, 0.15);

  span {
    background: #0695BF;
  }
}

.design-system__diagram-item-yellow {
  box-shadow: 0 4px 4px rgba(206, 194, 42, 0.25);

  span {
    background: #F4E638;
    color: #0D83A6;
  }
}

.design-system__row-first {
  margin-bottom: 90px;
}

.design-system__framing {
  .design-system__framing-text {
    margin-bottom: 45px;
    max-width: 495px;
  }
}

.design-system__framing-layer {
  border-radius: 5px;
  padding-top: 16px;
  background: rgba(6, 149, 191, 0.3);
  min-height: 266px;

  span {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 19px;
    margin-bottom: 37px;
    display: block;
  }
}

.design-system__framing-layer-first {
  max-width: 300px;
}

.design-system__framing-layer-second {
  max-width: 250px;
}

.design-system__framing-layer-third {
  max-width: 200px;
}

.design-system__rhythm-scheme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

.design-system__rhythm-item {
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 14px;
  color: #FFFFFF;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}


.design-system__rhythm-item-first {
  max-width: 10px;
  width: 100%;
  background: linear-gradient(269.53deg, #F4E438 0%, #F4E638 99.99%);
}

.design-system__rhythm-item-second {
  max-width: 20px;
  width: 100%;
  background: linear-gradient(269.53deg, #F4E039 0%, #F4E338 99.99%);
}

.design-system__rhythm-item-third {
  max-width: 30px;
  width: 100%;
  background: linear-gradient(269.53deg, #F3DA3A 0%, #F4DF39 99.99%);
}

.design-system__rhythm-item-fourth {
  max-width: 50px;
  width: 100%;
  background: linear-gradient(269.53deg, #F3D13C 0%, #F3D93A 99.99%);
}

.design-system__rhythm-item-fifth {
  max-width: 80px;
  width: 100%;
  background: linear-gradient(269.53deg, #F3C33E 0%, #F3D03C 99.99%);
}

.design-system__rhythm-item-sixth {
  max-width: 130px;
  width: 100%;
  background: linear-gradient(269.53deg, #F3AD43 0%, #F3C23F 99.99%);
}

.design-system__rhythm-item-seventh {
  max-width: 210px;
  width: 100%;
  background: linear-gradient(269.53deg, #F38A4A 0%, #F3AC43 99.99%);
}

.design-system__rhythm-item-eighth {
  max-width: 340px;
  width: 100%;
  background: linear-gradient(269.53deg, #F25255 0%, #F3894A 99.99%);
}

.design-system__rhythm-item-ninth {
  width: 100%;
  background: linear-gradient(269.53deg, #F2205F 0%, #F25155 99.99%);
}

.design-system__rhythm-img {
  border: 3px solid #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07), inset 0 0 3px rgba(0, 0, 0, 0.09);
  border-radius: 23px;
  margin-top: 85px;
  max-width: 60%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    overflow: hidden;
    border-radius: 23px;
    margin: 5px;
    width: 100%;
  }
}

.design-system__title-rhythm {
  margin-bottom: 29px;
}

.design-system__rhythm-example {
  display: flex;
}

.design-system__rhythm-shell {
  max-width: 30%;
  align-self: flex-end;
  margin-left: 10%;
}

.design-system__rhythm-text {
  max-width: 600px;
}

@media (max-width: 767.98px) {
  .design-system {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .design-system__color {
    margin-bottom: 40px;
  }

  .design-system__color,
  .design-system__color-text {
    max-width: 100%;
  }

  .design-system__h2 {
    margin-bottom: 30px;
  }

  .design-system__framing .design-system__framing-text {
    max-width: 100%;
  }

  .design-system__framing-layer-first {
    margin-left: auto;
    margin-right: auto;
  }

  .design-system__row-first {
    margin-bottom: 50px;
  }

  .design-system__rhythm-img {
    margin-top: 40px;
  }

  .design-system__rhythm-shell {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575.98px) {
  .design-system__rhythm-example {
    flex-direction: column;
  }

  .design-system__rhythm-img {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .design-system__rhythm-shell {
    max-width: 200px;
  }
}

@media (max-width: 350px) {
  .design-system__diagram-wrapper {
    position: relative;
    padding-top: 100%;
    height: auto;
  }

  .design-system__diagram {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
  }
}