.diagram-group {
  display: flex;

  &__container {
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 187px;
      height: 187px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__name {
    margin-top: 22px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #777777;
  }

  &__time {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #777777;
  }
}