.first-slide {
  background: #FFD6AF;
  position: relative;
  overflow: hidden;

  .container * {
    z-index: 10;
  }

  .first-slide-container {
    max-width: 1200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
  }

  &__text-shadow {
    position: absolute;

    &:before {
      content: '';
      position: absolute;
      box-shadow: inset 0 0 20px 10px #FFD6AF;
      background: rgba(250, 206, 166, 0.72);
      width: 95%;
      height: 100%;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      border-radius: 30%;
    }
  }

  &__text-shadow-first {
    top: 58px;
    left: -300px;
  }

  &__text-shadow-second {
    top: 58px;
    left: 615px;
  }

  &__text-shadow-third {
    top: 248px;
    left: 20px;

    &:before {
      content: '';
      position: absolute;
      box-shadow: inset 0 0 20px 10px #FFD6AF;
      background: rgba(250, 206, 166, 0.72);
      width: 77%;
      height: 65%;
      margin: auto;
      left: 0;
      right: auto;
      top: 0;
      bottom: 0;
      z-index: 1;
      border-radius: 30%;
    }
  }

  &__text-shadow-fourth {
    left: -360px;
    bottom: 20px;
  }

  &__text-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFD6AF;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }

  &__text-bg-first {
    font-weight: 700;
    line-height: 176px;
    font-size: 9.8em;
  }

  &__text-bg-second {
    font-weight: 700;
    line-height: 176px;
    font-size: 9.375em;
  }

  &__text-bg-third {
    font-weight: 700;
    font-size: 18.75em;
    line-height: 352px;
    text-transform: uppercase;
    color: #FFD6AF;
  }

  &__text-bg-fourth {
    font-weight: 700;
    font-size: 12.5em;
    line-height: 234px;
    text-transform: uppercase;
    color: #FFD6AF;
  }
}

.first-slide-section {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.first-slide-wrap {
  position: absolute;
}

.first-slide__wrapper {
  position: relative;
}

.first-slide__mobil-wrapper {
  display: none;
  position: relative;
}

@media (min-height: 790px) {
  .first-slide {
    min-height: 100vh;
  }
}

@media (max-width: 991.98px) {
  .first-slide {
    min-height: 0;
  }

  .first-slide-section {
    min-height: 0;
  }

  .first-slide__wrapper {
    display: none;
  }

  .first-slide__mobil-wrapper {
    display: block;
  }

  .first-slide-wrap {
    position: relative;
    padding-top: 140px;
    padding-left: 0;
  }
}