.goals {
  position: relative;
  display: flex;
  overflow: hidden;
}

.goals-container {
  padding-top: 63px;
  padding-bottom: 67px;
  z-index: 1;
  position: relative;
}

.goals-devices {
  max-width: 923px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 347px;
  margin-top: 58px;
  position: relative;
}

.goals-device {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  position: absolute;
}

.goals-device_tablet {
  background: url("../img/goals-device_tablet-border.png") no-repeat center;
  background-size: 100% auto;
  width: 330px;
  height: 228px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -45px;

  .goals-device__img {
    background: url("../img/goals-device_tablet.png") no-repeat center;
    background-size: 100% auto;
    width: 320px;
    height: 217px;
    z-index: 3;
    display: block;
    position: relative;
    border-radius: 17px;
    top: 10px;
  }
}

.goals-device_laptop {
  background: url("../img/goals-device_laptop-border.svg") no-repeat center;
  background-size: 100% auto;
  width: 574px;
  height: 346px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  left: 0;
  right: 0;

  .goals-device__img {
    background: url("../img/goals-device_laptop.png") no-repeat center;
    background-size: 100% auto;
    width: 564px;
    height: 336px;
    z-index: 3;
    display: block;
    position: relative;
    border-radius: 17px;
  }
}

.goals-device_phone {
  background: url("../img/goals-device_phone-border.svg") no-repeat center;
  background-size: 100% auto;
  width: 162px;
  height: 313px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 40px;

  .goals-device__img {
    background: url("../img/goals-device_phone.png") no-repeat center;
    background-size: 100% auto;
    width: 152px;
    height: 304px;
    z-index: 3;
    display: block;
    position: relative;
    border-radius: 17px;
  }
}

.goals-content {
  margin-top: 85px;
}

.goals-content__text {
  max-width: 325px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .h5 {
    text-align: center;
    margin-bottom: 26px;
    font-weight: bold;
  }

  p {
    font-size: 0.875em;
    line-height: 18px;
    color: #777777;
  }
}

.goals__title {
  text-align: center;
  line-height: 49px;
}


@media (max-width: 1199.98px) {
  .goals-device_tablet {
    left: -20px;
  }

  .goals-device_phone {
    right: 40px;
  }
}

@media (max-width: 991.98px) {
  .goals-device_tablet {
    left: -20px;
  }

  .goals-device_phone {
    right: -20px;
  }
}

@media (max-width: 767.98px) {
  .goals-devices {
    margin-top: 30px;
  }

  .goals-content {
    margin-top: 40px;
  }

  .goals-device_tablet {
    left: 20px;
  }

  .goals-device_phone {
    right: 20px;
  }

  .goals-content__text {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .goals-device_laptop {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .goals-device_tablet {
    display: none;
  }

  .goals-device_phone {
    left: 0;
    right: 0;
    margin: auto ;
  }
}