.goals {
  position: relative;
  display: flex;
  overflow: hidden;

  &__title {
    text-transform: uppercase;
    max-width: 685px;
    margin-left: auto;
    margin-right: auto;
  }
}

.goals-container {
  padding-top: 63px;
  padding-bottom: 67px;
  z-index: 1;
  position: relative;
}

.goals-devices {
  max-width: 923px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
  position: relative;
}

.goals-device {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  position: absolute;

  &__preloader {
    position: absolute;
  }
}

.goals-device_tablet {
  background: url("../img/goals-device_tablet-border.png") no-repeat center;
  background-size: 100% auto;
  width: 392px;
  height: 271px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -110px;

  .goals-device__img {
    object-fit: contain;
    width: 98%;
    z-index: 3;
    display: block;
    position: relative;
    border-radius: 17px;
    top: 0;
    padding: 5px;
    margin-top: 22px;
  }
}

.goals-device_laptop {
  background: url("../img/goals-device_laptop-border.svg") no-repeat center;
  background-size: 100% auto;
  width: 574px;
  height: 346px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  left: 0;
  right: 0;
  position: relative;

  .goals-device__img {
    width: 98%;
    z-index: 3;
    display: block;
    position: relative;
    border-radius: 17px;
  }
}

.goals-device_phone {
  background: url("../img/goals-device_phone-border.svg") no-repeat top;
  background-size: 100% auto;
  width: 152px;
  height: 293px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 60px;

  .goals-device__img {
    width: 98%;
    padding: 4px;
    z-index: 3;
    display: block;
    position: relative;
    border-radius: 17px;
  }
}

.goals-content {
  margin-top: 85px;
}

.goals-content__text {
  max-width: 325px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .h5 {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 37px;
    color: #555555;
    margin-bottom: 12px;
    display: block;
  }

  p {
    font-size: 1em;
    line-height: 28px;
    color: #777777;
    margin-bottom: 0;
  }
}

.goals__title {
  text-align: center;
  line-height: 49px;
}


@media (max-width: 1199.98px) {
  .goals-device_tablet {
    left: -20px;
  }

  .goals-device_phone {
    right: 40px;
  }
}

@media (max-width: 991.98px) {
  .goals-device_tablet {
    left: -100px;
  }

  .goals-device_phone {
    right: -20px;
  }

  .goals-content__text {
    max-width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 767.98px) {

  .goals-device_laptop {
    background-size: contain;
    width: 100%;
    height: auto;

    .goals-device__img {
      padding: 6px;
    }
  }

  .goals-devices {
    margin-top: 30px;
  }

  .goals-device {
    box-shadow: none;
    border-radius: 9px;
  }

  .goals-content {
    margin-top: 80px;
  }

  .goals-device_tablet {
    left: auto;
    right: -170px;
    bottom: -80px;
    width: 320px;

    .goals-device__img {
      padding: 0;
      margin-top: 20px;
    }
  }

  .goals-device_phone {
    right: auto;
    left: -75px;
    bottom: -60px;
  }

  .goals-content__text {
    max-width: 100%;
    align-items: flex-start;
    margin-bottom: 35px;

    .h5 {
      font-size: 24px;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .goals-container {
    padding-bottom: 20px;
    padding-top: 44px;
  }
}

@media (max-width: 575.98px) {
  .goals-device_phone {
    background-position: center;
    background-size: contain;
    border-radius: 9px;
    width: 111px;
    height: auto;
    left: -60px;
    bottom: -30px;

    .goals-device__img {
      width: 98%;
      height: auto;
      padding: 4px;
    }
  }
}

@media (max-width: 500px)  {
  .goals-device_tablet {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .goals-device_tablet {
    width: 254px;
  }
}

@media (max-width: 340px) {
  .goals-device_laptop .goals-device__img {
    width: 102%;
  }

  .goals-device_phone {
    width: 90px;
  }

  .goals-device_tablet {
    width: 200px;
    right: -110px;
    bottom: -100px;

    .goals-device__img {
      margin-top: 10px;
    }
  }
}