.main-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;

  &__title-first {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 37px;
    color: #F11F60;
    margin-top: 175px;
    text-transform: uppercase;
  }

  &__title-second {
    font-weight: bold;
    font-size: 3.6em;
    line-height: 84px;
    color: #000000;
    margin-top: 37px;
    text-transform: uppercase;
  }

  &__title-desc {
    font-weight: bold;
    font-size: 1.125em;
    line-height: 21px;
    color: #000000;
    margin-top: 50px;
  }
}