.menu-burger {
  width: 80px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: -2px 4px 14px rgba(0, 0, 0, 0.11);
  border-radius: 3px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  .menu-burger__icon-second {
    background: #000;
    width: 21px;
    height: 3px;
    border-radius: 25px;
    position: relative;
    left: -5px;
    transition: 0.3s;
  }

  .menu-burger__icon-first {
    background: #000;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 17px;
    border-radius: 25px;
    display: block;
    transition: 0.3s;
  }

  .menu-burger__icon-three {
    background: #000;
    width: 30px;
    height: 3px;
    position: absolute;
    bottom: 16px;
    border-radius: 25px;
    display: block;
    transition: 0.3s;
  }
}

.menu-burger.active {
  .menu-burger__icon-second {
    opacity: 0;
    transition: 0.3s;
  }

  .menu-burger__icon-first {
    background: #000;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 24px;
    border-radius: 25px;
    display: block;
    transition: 0.3s;
    transform: rotate(40deg);
  }

  .menu-burger__icon-three {
    background: #000;
    width: 30px;
    height: 3px;
    position: absolute;
    bottom: 23px;
    border-radius: 25px;
    display: block;
    transition: 0.3s;
    transform: rotate(-40deg);
  }
}