.table-demonstration {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;

  tr {
    border-bottom: 1px solid #e8e8e8;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    line-height: 50px;

    &:nth-child(1) {
      padding-right: 40px;
      padding-left: 8px;
    }

    &:nth-child(2) {
      padding-right: 33px;
    }

    &:nth-child(3) {
      color: #777;
      padding-right: 27px;
    }
  }

  &__fz48 {
    font-size: 48px;
  }

  &__fz32 {
    font-size: 32px;
  }

  &__fz24 {
    font-size: 24px;
  }

  &__fz14 {
    font-size: 14px;
  }

  &__colorRed {
    color: #f2205f;
  }
}