.technologies {
  background: rgba(255, 214, 175, 0.18);
  padding-top: 90px;
  padding-bottom: 97px;

  .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, auto));
    margin-top: 16px;

    a {
      margin-right: 17px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .nav_front {
    max-width: 505px;
  }

  .nav_back {
    max-width: 316px;
  }

  .nav-pills .nav-link {
    border: 1px solid #EF2562;
    border-radius: 39px;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    padding-top: 0;
    padding-bottom: 0;
    height: 35px;
  }

  .nav-pills .nav-link.active {
    background: initial;
    color: #F14074;
  }

  .tab-content {
    position: relative;
    z-index: 1;

    max-width: 505px;
  }

  &__container {
    position: relative;
    margin-top: 140px;
  }
}

.technologies-container__front {
  max-width: 583px;

  img {

    &:nth-child(1) {
      top: 0;
      margin-left: 0;
      z-index: 1;
    }

    &:nth-child(2) {
      top: 0;
      margin-left: 99px;
      z-index: 2;
    }

    &:nth-child(3) {
      top: 0;
      margin-left: 198px;
      z-index: 3;
    }

    &:nth-child(4) {
      top: 0;
      margin-left: 297px;
      z-index: 4;
    }

    &:nth-child(5) {
      top: 0;
      margin-left: 396px;
      z-index: 5;
    }
  }
}

.technologies-container__back {
  max-width: 460px;

  img {
    &:nth-child(1) {
      top: 0;
      margin-left: 0;
      z-index: 1;
    }

    &:nth-child(2) {
      top: 0;
      margin-left: 128px;
      z-index: 1;
    }

    &:nth-child(3) {
      top: 0;
      margin-left: 254px;
      z-index: 1;
    }
  }
}

.technologies-container {
  display: flex;
  height: 350px;
  margin-top: 60px;
  position: relative;

  img {
    position: absolute;
    transition: 0.2s;
    cursor: pointer;

    &.active {
      top: -120px;
    }
  }

  .tab-content .tab-pane {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}

.technologies-block {
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 31px 33px 24px 33px;
  height: 191px;
  position: relative;

  &__close {
    background: url("../img/red-icon-close.svg") no-repeat center;
    background-size: 100% auto;
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #555555;
    margin-bottom: 8px;
    display: block;
  }

  &__text {
    font-size: 18px;
    line-height: 34px;
    color: #555555;
    margin-bottom: 0;
  }
}

.technologies-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  transition: 0.2s;
  height: 191px;
  max-width: 505px;

  &.show {
    opacity: 1;
    position: relative;
    transition: 0.2s;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 26px;
  }

  &__text {
    font-size: 24px;
    line-height: 34px;
    color: #777777;
  }
}

@media (max-width: 1199.98px) {

  .technologies-container {

    img {
      width: 140px;
    }
  }

  .technologies__container {
    margin-top: 60px;
  }

  .technologies-container__front {
    max-width: 100%;

    img {
      &:nth-child(2) {
        margin-left: 70px;
        z-index: 2;
      }

      &:nth-child(3) {
        margin-left: 138px;
        z-index: 3;
      }

      &:nth-child(4) {
        margin-left: 207px;
        z-index: 4;
      }

      &:nth-child(5) {
        margin-left: 270px;
        z-index: 5;
      }
    }
  }

  .technologies-container__back {
    img {
      &:nth-child(2) {
        margin-left: 90px;
        z-index: 1;
      }

      &:nth-child(3) {
        margin-left: 182px;
        z-index: 2;
      }
    }
  }

  .technologies-description__text {
    font-size: 22px;
    line-height: 29px;
  }

  .technologies-description__title {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .technologies {
    padding-bottom: 40px;

    .nav a {
      margin-right: 7px;
    }

    .nav-pills .nav-link {
      font-size: 14px;
    }
  }
}