.vector-first-slide {
  position: absolute;
  display: block;

  &_turquoise {
    top: 52px;
    left: 107px;
  }

  &_orange {
    top: 210px;
    left: 70px;
  }

  &_purple {
    top: 17px;
    left: 8px;
  }
}

@media (max-width: 991.98px) {
  .vector-first-slide {

    &_turquoise {
      top: 30px;
      left: 100px;
      width: 100%;
    }

    &_orange {
      top: 170px;
      left: 75px;
      width: 100%;
    }

    &_purple {
      top: 0;
      left: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .vector-first-slide {

    &_turquoise {
      top: 16px;
      left: 42px;
      width: 100%;
    }

    &_orange {
      top: 162px;
      left: -25px;
      width: 100%;
    }

    &_purple {
      top: 0;
      left: -80px;
    }
  }
}

@media (max-width: 575.98px) {
  .vector-first-slide {

    &_turquoise {
      //background-size: cover !important;
      //width: 100%;
      //height: 275px;

      top: 20px;
      left: 55px;

      width: 100%;
    }

    &_orange {
      //background-size: cover !important;
      //width: 100%;
      //height: 275px;
      top: 110px;
      left: 20px;

      width: 100%;
    }

    &_purple {
      //background-size: cover !important;
      //width: 100%;
      //height: 360px;
      top: 0;
      left: -10px;
      width: 90%;
    }
  }
}