.vector-first-slide {
  position: absolute;
  display: block;

  &_turquoise {
    background: url("../img/vector-3.svg") no-repeat center;
    background-size: 100% auto;
    width: 669px;
    height: 624px;
    top: 60px;
    left: 80px;
  }

  &_orange {
    background: url("../img/vector-2.svg") no-repeat center;
    background-size: 100% auto;
    width: 606px;
    height: 515px;
    top: 220px;
    left: 60px;
  }

  &_purple {
    background: url("../img/vector-1.svg") no-repeat center;
    background-size: 100% auto;
    width: 528px;
    height: 656px;
    top: 17px;
    left: 8px;
  }
}